# Mengonfigurasi disk space dan memastikan ruang disk cukup
files:
  "/etc/disk.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /dev/xvda1   /   ext4   defaults   1 1

# Perintah untuk resize disk
container_commands:
  01_resize_disk:
    command: "resize2fs /dev/xvda1"  # Untuk memperbesar filesystem pada disk

# Menginstal dependensi dari requirements.txt
  02_install_dependencies:
    command: "pip install -r /var/app/staging/requirements.txt"  # Instal dependensi yang ada dalam requirements.txt
